.page-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  padding: 2rem 0;

  .page-wrapper {position: relative;}
}


#pageNav {
  position: absolute;
  right: 15px;
  top: -10px;

  @media(max-width: 1024px) {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $main-color;
    width: $page-nav-width;
    overflow-x: hidden;
    @include translateX(-100%);
    @include transition(0.4s);
    z-index: 11;
  }
}

#triggerNavContainer {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  right: 3rem;
  display: none;

  .title {
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    font-size: 2rem;
  }

  .trigger-menu {
    display: inline-block;
    position: relative;
    top: 7px;
    margin-left: 7px;
    span {
      width: 30px;
      height: 2px;
      background-color: #ffffff;
      display: block;
      margin-bottom: 6px;
    }
  }

  cursor: pointer;
  @include transition(0.2s);

  @media(max-width: 1023px) {
    display: inline-block;
  }

}

#pageNavOverlay {
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.0);
  cursor: pointer;
  @include opacity(0);
  @include transition(0.3s);
}

body {
  &.menu-opened {

    #pageNav {
      @include translateX(0%);
      @include transition(0.4s);
    }

    #pageNavOverlay {
      visibility: visible;
      @include opacity(1);
      background-color: rgba(0, 0, 0, 0.7);
      @include transition(0.3s);
    }
  }

}

.nav-primary  {
  > li {
    display: inline-block;
    > a {
      display: block;
      padding: 1.5rem 2rem;
      color: #ffffff;
      font-weight: 300;

      &:hover {color: $main-color;}
    }
  }

  @media(max-width: 1024px) {
    > li {
      display: block;
      > a {
        &:hover {
          background-color: #ffffff;
          color: $main-color;
        }
      }
    }
  }
}
