//remove these 2 lines below if you paste this file in src/scss/
//@import '../../sass/mixins';
//@import '../../sass/variables';


//uncomment these 2 lines below if you paste this file in src/scss
@import 'mixins';
@import 'variables';

.page-header {
  @include position(fixed,0,0,auto,0);
  background-color: #ffffff;
  box-shadow: -2px 0px 10px -3px rgba(0,0,0,.2);
  z-index: 3;

  .page-logo {
    flex: 1 0 20%;
    img {width: 150px;}
  }

  .page-wrapper {
    @include flex-container();
    align-items: center;
  }

  #pageNav {
    flex: 0 0 80%;
    max-width: 80%;
    text-align: right;

    .nav-primary {
      > li {
        display: inline-block;
        margin-left: 2rem;
        &.has-sub-level {
          position: relative;
          &:after {
            position: absolute;
            top: 3.3rem;
            right: 0;
            content: "\f078";
            font-family: $icon-font-family;
            font-weight: 900;
            font-size: 1.4rem;
            color: $main-color;
          }
        }

        >  a {
          display: block;
          padding: 3rem 2rem;
          position: relative;
          &:after {
            @include position(absolute, auto,0,0,0);
            content: "";
            width: 0;
            height: 2px;
            background-color: $main-color;
          }
        }

        ul {
          position: absolute;
          display: none;
          width: 300px;
          text-align: left;
          box-shadow: 3px 7px 4px -6px rgba(0,0,0,.2);
          border: 1px solid $gray-lightest;
          > li {
            border-bottom: 1px solid $gray-lightest;
            &:last-child {border: 0;}
            > a {
              display: block;
              padding: 2rem;
              &:hover {background-color: $main-color-lighter;}

            }
          }
        }

        &:hover {
          &.has-sub-level:after {@include rotate(-180deg);}
          > a:after {width: 100%;}
          ul {
            display: block;
          }
        }
      }
    }
  }

  #triggerNavContainer {
    display: none;
    position: absolute;
    top: 2rem;
    right: 5rem;

    .title {
      color: $main-color;
      font-weight: 600;
      text-transform: uppercase;
      display: inline-block;
      font-size: 2rem;
    }

    .trigger-menu {
      display: inline-block;
      position: relative;
      top: 7px;
      margin-left: 7px;
      span {
        width: 30px;
        height: 2px;
        background-color: $main-color;
        display: block;
        margin-bottom: 6px;
      }
    }

    cursor: pointer;
    @include transition(0.2s);

    @media(max-width: 1024px) {
      display: inline-block;
    }

    @media(max-width: 640px) {
      right: 3rem;
    }
  }



  @media(max-width: 1024px) {
    .page-logo {
      padding: 2rem 0;
    }

    #pageNav {
      position: fixed;
      bottom: 0;
      left: 0;
      height: 100%;
      background-color: $main-color;
      width: 300px;
      @include translateX(-100%);
      @include transition(0.3s);

      .nav-primary {
        > li {
          display: block;
          margin: 0;

          &.has-sub-level:after {color: #ffffff;right: 3rem;}
          &.has-sub-level.show:after {@include rotate(-180deg);}
          &.show, &.show:hover {
            ul {display: block;}
          }

          > a {
            color: #ffffff;
            text-align: left;
            padding-right: 5rem;
          }

          ul {
            position: relative;
            background-color: #ffffff;
            box-shadow: none;
            border: 0;
          }

          &:hover {
            &.has-sub-level:not(.show):after {@include rotate(0deg);}
            ul {display: none;}
          }
        }
      }
    }

    #triggerNavContainer {
      display: inline-block;
    }
  }
}



#pageNavOverlay {
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.0);
  cursor: pointer;
  @include opacity(0);
  @include transition(0.3s);
}

body {
  &.menu-opened {
    overflow: hidden;
    #pageNav {
      @include translateX(0%);
      @include transition(0.3s);
    }

    #pageNavOverlay {
      visibility: visible;
      @include opacity(1);
      background-color: rgba(0, 0, 0, 0.7);
      @include transition(0.3s);
    }
  }
}
