
* {
  @include box-sizing();
}


/********** PAGES **********/
.page-header + .page-header-mobile + .page-content {
  margin-left: 30rem;
  @media(max-width: 1024px) {
    margin-left: 0;
  }
}

.page-content {
  margin-top: 10rem;
}


.page-wrapper {
  margin: auto;
  padding: 0 3rem;

}
/********** PAGES **********/
