
.page-header.left-bar + .page-header-mobile + .page-content,
.page-header.left-bar + .page-header-mobile + main,
.page-header.left-bar + .page-header-mobile + .page-fullscreen {
  margin-left: 30rem;
  @media(max-width: 1024px) {
    margin-left: 0;
  }
}


.page-content {
  margin-top: 10rem;
}
